<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Trajet</title>
  
  <link rel="stylesheet" th:href="@{/assets/vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
  <link rel="stylesheet" th:href="@{/assets/fontawesome-5/css/all.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}" >
  <link rel="stylesheet" type="text/css" th:href="@{/assets/js/select.dataTables.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/vertical-layout-light/style.css}">

  <link rel="stylesheet" th:href="@{/assets/ownCSS/Service.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors//css/vendor.bundle.base.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/select2/select2.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}">
  
  <link rel="stylesheet" th:href="@{/assets/css/vertical-layout-light/style.css}">
  

  </head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
   
      <!-- partial -->
      <div class="main-panel" style="margin: auto;">   
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h2 class="card-title">Liste Trajet</h2>
                        <button class="btn btn-success btn-rounded btn-icon" onclick="addService()">
                          <i class="fas fa-plus"></i>
                        </button>
                        <div class="content-wrapper"  >
                          <div class="btn-group" role="group" aria-label="Basic example" ></div>
                            <a th:href="@{/gestionvehiculeevaluation/Trajetpagprecedent}" >  <button type="button" class="btn btn-outline-secondary"  >1</button> </a>
                            <a th:href="@{/gestionvehiculeevaluation}"> <button type="button" class="btn btn-outline-secondary" href="#" >X</button> </a>
                            <a th:href="@{/gestionvehiculeevaluation/Trajetpagsuivant}"  > <button type="button" class="btn btn-outline-secondary">3</button> </a>
                          </div>
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <!-- champ existant -->
                            <thead>
                              <tr>
                               
                                <th>Numero vehicule</th>
                                <th>Motif</th>
                                <th>Lieu depart</th>
                                <th>Lieu arriver</th>
                                <th>date de depart</th>
                                <th>date d'arriver</th>

                              </tr>
                            </thead>
                              <tbody>
                                <tr th:each="value, i :${liste}">
                                  <td th:text="${value.numero}"></td>
                                  <td th:text="${value.motif}"></td>
                                  <td th:text="${value.nomlieurarrive}"></td>
                                  <td th:text="${value.nomlieurdepart}"></td>
                                  <td th:text="${#dates.format(value.dateheurdepart, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                  <td th:text="${#dates.format(value.dateheurarrive, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                  <td>
                                    <button class="btn btn-info btn-rounded btn-icon" th:onclick="'updateService(' + ${i.index} + ')'">
                                    <i class="fas fa-edit"></i>
                                    </button>
                                  </td>
                                  <td>
                                    <a th:href="@{'/gestionvehiculeevaluation/Trajetdel?id=' + ${value.idtrajet}}">
                                        <button class="btn btn-danger btn-rounded btn-icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </a>
                                  </td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div id="addService">
          <div class="content-popup">
            <span id="closePopup" class="close-popup"><button onclick="closepopup()"><i class="fas fa-times"></i></button></span>
            <form class="pt-3" id="ajout" action="/gestionvehiculeevaluation/Trajet" method="post" onsubmit="return verifierFormulaire()">           
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Description</h4>
                <div class="row">
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label for="exampleInputUsername1">Motif</label>
                          <input type="text" class="form-control" id="exampleInputName1" name="motif">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Numero vehicule</label>
                      <select class="js-example-basic-single w-100" name="idvehicule">
                        <option th:each="value : ${listevehicule}" 
                        th:value="${value.idvehicule}" 
                        th:text="${value.numero}"></option>
                      </select>
                  </div>
                  </div>
              </div>
            </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Info Consomation</h4>
                <div class="row">
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label for="exampleInputUsername1">Quantite carburant</label>
                          <input type="text" class="form-control" id="exampleInputName1" name="quantitecarburant">
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label for="exampleInputUsername1">Prix carburant</label>
                          <input type="text" class="form-control" id="exampleInputName1" name="prixcarburant">
                      </div>
                  </div>
              </div>
            </div>
        </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Debut</h4>
              <div class="row">
                
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Date et heur </label>
                        <input type="datetime-local" class="form-control" id="exampleInputName1"name="dateheurdepart">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                            <label>Lieu</label>
                            <select class="js-example-basic-single w-100" name="idlieudepart">
                              <option th:each="value : ${listelieu}" 
                              th:value="${value.idlieu}" 
                              th:text="${value.nomlieu}"></option>
                            </select>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Kilometrage</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="kilometragedepart">
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Arrive</h4>
            <div class="row">
              
              <div class="col-lg-4">
                  <div class="form-group">
                      <label for="exampleInputUsername1">Date et heur </label>
                      <input type="datetime-local" class="form-control" id="exampleInputName1" name="dateheurarrive">
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="form-group">
                    <label>Lieu</label>
                    <select class="js-example-basic-single w-100" name="idlieuarrive">
                      <option th:each="value : ${listelieu}" 
                      th:value="${value.idlieu}" 
                      th:text="${value.nomlieu}"></option>
                    </select>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="form-group">
                      <label for="exampleInputUsername1">Kilometrage</label>
                      <input type="text" class="form-control" id="exampleInputName1" name="kilometragearrive">
                  </div>
              </div>

          </div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary mr-2" >Submit</button>
    </form>

    <script th:inline="javascript">
      function calculerVitesseMoyenne(dateDepart, dateArrivee, kilometrage) {
              var depart = new Date(dateDepart).getTime();
              var arrivee = new Date(dateArrivee).getTime();
              var dureeEnHeures = (arrivee - depart) / (1000 * 60 * 60); // Conversion de millisecondes en heures
              var vitesseMoyenne = kilometrage / dureeEnHeures;
              return vitesseMoyenne;
      }

        // Exemple d'utilisation
        var dateDepart = '2024-02-20T08:00:00'; // Date de départ au format ISO 8601
        var dateArrivee = '2024-02-20T16:00:00'; // Date d'arrivée au format ISO 8601
        var kilometrage = 200; // Kilométrage parcouru
        var vitesse = calculerVitesseMoyenne(dateDepart, dateArrivee, kilometrage);
        console.log('Vitesse moyenne:', vitesse, 'km/h');

        function verifierFormulaire() {
        const formData = new FormData(document.getElementById("ajout")); 
        console.log(formData)
        const headers = new Headers();
        const formDataObject = {};
        let idvehicule=0;
        for (const [key, value] of formData.entries()) {
          if(key==='idvehicule'){
            idvehicule=parseInt(value);
            console.log(key+ idvehicule);
          }
          formDataObject[key] = isNaN(value) ? value : parseInt(value, 10);
          console.log(formDataObject[key]);
        }
        headers.append('Content-Type', 'application/json');
        fetch("/gestionvehiculeevaluation/getlastetrajet", {
            method: "POST",
            headers: headers,
            body: idvehicule // Vous devriez envoyer formDataObject au lieu de 3
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('La requête n\'a pas abouti');
            }
            return response.json(); // Retourne la réponse JSON pour le traitement ultérieur
        })
        .then(data => {
            // Traitez les données de réponse ici
            console.log(data);
            console.log("Vitesse troupe rapide et ne devrai pas depasse 72 km/h or que votre visse est de !"+calculerVitesseMoyenne(formDataObject["dateheurdepart"], formDataObject["dateheurarrive"], parseFloat(formDataObject["kilometragearrive"])-parseFloat(formDataObject["kilometragedepart"]) ));
            var infotrajt = data.data;
            if(formDataObject["kilometragearrive"]<0 ||formDataObject["kilometragedepart"]<0 ){
              alert("Kilometrage negatif!");
              return false;
            }
            if(formDataObject["kilometragearrive"]<formDataObject["kilometragedepart"]  ){
              alert("Kilometrage inferiqur a celui du kilometrage!");
              return false;
            }
            if(infotrajt!=null){
              if(formDataObject["kilometragearrive"]<formDataObject["kilometragedepart"] ||formDataObject["kilometragedepart"]<infotrajt.kilometragearrive ){
                alert("Kilometrage inferiqur a celui du kilometrage!");
                return false;
              }
             
            }
            if(calculerVitesseMoyenne(formDataObject["dateheurdepart"], formDataObject["dateheurarrive"], parseFloat(formDataObject["kilometragearrive"])-parseFloat(formDataObject["kilometragedepart"]))>=72){
              alert("Vitesse troupe rapide et ne devrai pas depasse 72 km/h or que votre visse est de "+calculerVitesseMoyenne(formDataObject["dateheurdepart"], formDataObject["dateheurarrive"], parseFloat(formDataObject["kilometragearrive"])-parseFloat(formDataObject["kilometragedepart"]) )+" km/h !");
              return false;
            }

            fetch("/gestionvehiculeevaluation/Trajet", {
              method: "POST",
              headers: headers,
              body: JSON.stringify(formDataObject)
            })
            .then(response => response.json()) 
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });

              return true;
            
        })
        .catch(error => {
            // Gérez les erreurs ici
            console.error('Une erreur s\'est produite lors de la récupération des données:', error);
            return false;
        });
       return false;
      }
    </script>

          </div>
        </div>

        <th:block th:each="value, i :${liste}">
          <div  class="service" >
            <div class="content-popup">
              <span id="closePopup" class="close-popup"><button  th:onclick="'closepopuppdate(' + ${i.index} + ')'" ><i class="fas fa-plus"></i></button></span>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Modif</h4>
                    <form class="forms-sample formulaiupdate">
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Idtrajet" ></label>
                              <input type="hidden" class="form-control" id="exampleInputUsername1"  th:name="idtrajet" th:value="${value.idtrajet}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Dateheurdepart" ></label>
                              <input type="date" class="form-control" id="exampleInputUsername1"  th:name="dateheurdepart" th:value="${value.dateheurdepart}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Idlieurdepart" ></label>
                              <input type="text" class="form-control" id="exampleInputUsername1"  th:name="idlieurdepart" th:value="${value.idlieurdepart}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Kilometragedepart" ></label>
                              <input type="text" class="form-control" id="exampleInputUsername1"  th:name="kilometragedepart" th:value="${value.kilometragedepart}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Dateheurarrive" ></label>
                              <input type="date" class="form-control" id="exampleInputUsername1"  th:name="dateheurarrive" th:value="${value.dateheurarrive}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Idlieurarrive" ></label>
                              <input type="text" class="form-control" id="exampleInputUsername1"  th:name="idlieurarrive" th:value="${value.idlieurarrive}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Kilometragearrive" ></label>
                              <input type="text" class="form-control" id="exampleInputUsername1"  th:name="kilometragearrive" th:value="${value.kilometragearrive}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Quantitecarburant" ></label>
                              <input type="text" class="form-control" id="exampleInputUsername1"  th:name="quantitecarburant" th:value="${value.quantitecarburant}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Prixcarburant" ></label>
                              <input type="text" class="form-control" id="exampleInputUsername1"  th:name="prixcarburant" th:value="${value.prixcarburant}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Motif" ></label>
                              <input type="text" class="form-control" id="exampleInputUsername1"  th:name="motif" th:value="${value.motif}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Idutilisateur" ></label>
                              <input type="text" class="form-control" id="exampleInputUsername1"  th:name="idutilisateur" th:value="${value.idutilisateur}" >
                        </div>
                        <div class="form-group">
                              <label for="exampleInputUsername1" th:text="Idvehicule" ></label>
                              <input type="text" class="form-control" id="exampleInputUsername1"  th:name="idvehicule" th:value="${value.idvehicule}" >
                        </div>
                      <button type="submit" class="btn btn-primary mr-2" th:onclick="'updateforme(' + ${i.index} + ')'">Submit</button>
                    </form>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </th:block>

<!-- partial:../../partials/_footer.html -->

        <!-- partial -->
      </div>
    </div>
      <!-- main-panel ends -->
    </div> 
    <!-- page-body-wrapper ends -->
  </div>
</body>

<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/assets/vendors/select2/select2.min.js}"></script>

<script th:src="@{/assets/vendors/typeahead.js/typeahead.bundle.min.js}"></script>
<script th:src="@{/assets/js/off-canvas.js}"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/js/template.js}"></script>
<script th:src="@{/assets/js/settings.js}"></script>
<script th:src="@{/assets/js/todolist.js}"></script>
<script th:src="@{/assets/js/file-upload.js}"></script>
<script th:src="@{/assets/js/typeahead.js}"></script>
<script th:src="@{/assets/js/select2.js}"></script>

<script th:src="function.js"></script>

</html>

<script type="text/javascript">      function addService() {        document.getElementById('addService').style.display='block';
      }
      function closepopup() {
        document.getElementById('addService').style.display='none';
      }
      function updateService(id) {
        console.log(document.getElementsByClassName("service")[parseInt(id)]);
        document.getElementsByClassName("service")[parseInt(id)].style.display='block';
      }
      function closepopuppdate(id) {
        document.getElementsByClassName("service")[parseInt(id)].style.display='none';
      }
      document.getElementById("creation").addEventListener("submit", function(event) {
        event.preventDefault(); 
        const formData = new FormData(this); 
        const headers = new Headers();
        const formDataObject = {};
        for (const [key, value] of formData.entries()) {
            formDataObject[key] = isNaN(value) ? value : parseInt(value, 10);
        }
        console.log(formDataObject);
        headers.append('Content-Type', 'application/json');
        fetch("/gestionvehiculeevaluation/Trajet", {
            method: "POST",
            headers: headers,
            body: JSON.stringify(formDataObject)
        })
        .then(response => response.json()) 
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error(error);
        });
         closepopup();
    });
    function updateforme(id){
      event.preventDefault();
      const formData = new FormData(document.getElementsByClassName("formulaiupdate")[parseInt(id)]);
      const headers = new Headers();
      const formDataObject = {};
      for (const [key, value] of formData.entries()) {
          formDataObject[key] = isNaN(value) ? value : parseInt(value, 10);
      }
      headers.append('Content-Type', 'application/json');
      fetch("/gestionvehiculeevaluation/Trajetup", {
            method: "POST",
            headers: headers,
            body: JSON.stringify(formDataObject)
        })
        .then(response => response.json()) 
        .then(data => {
            console.log(data);
        });
       closepopuppdate(id);
    }
</script>
